// @extend %primary-title;
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bg-color);
    &__container {
        display: flex;
        align-items: baseline;
    }
    &__logo {
        @extend %logo;
        display: block;
        margin-bottom: 20px;
    }
}
.footer__logo--accent {
    color: var(--accent-color);
}
.address {
    &__location {
        display: block;
        color: var(--primary-white-color);
        text-decoration: none;
        font-weight: 400;
        margin-bottom: 9px;
    }

    &__list {
        @extend %list;
    }
    &__elem {
        margin-bottom: 9px;
    }
    &__addr {
        color: var(--footer-contacts-color);
        text-decoration: none;
        transition: color var(--timiming-function);
    }
}
.footer__addr {
    &:hover,
    &:focus {
        color: var(--accent-color);
        transition: color var(--timiming-function);
    }
}

.social {
    margin-left: 70px;
    &__title {
        @extend %primary-title;
    }
    &__list {
        @extend %list;
        display: flex;
        gap: 10px;
    }
    &__item {
    }
    &__link {
        @extend %social-icons;
        background-color: var(--social-bg-color);
        color: var(--primary-white-color);
        transition: color var(--timiming-function), background-color var(--timiming-function);
    }
    &__icon {
        fill: var(--primary-white-color);
    }
}
.social__link {
    &:hover,
    &:focus {
        transition: color var(--timiming-function), background-color var(--timiming-function);
    }
}

.submit {
    margin-left: auto;
    &__title {
        @extend %primary-title;
    }
    &__imput {
        padding-left: 22px;
        margin-right: 12px;
        min-width: 358px;
        min-height: 50px;
        background-color: inherit;
        border-color: var(--border-gray);
    }
    &__button {
        @extend %main__button;
        position: relative;
        padding: 10px 62px 10px 28px;
        min-width: 200px;
    }
    &__icon {
        position: absolute;
        right: 38px;
        fill: var(--primary-white-color);
    }
}
.submit__imput {
    &:focus {
        color: var(--border-gray);
    }
}
